*{
    margin:0;
    padding:0;
}

.descricao{
    background:#3d3d3d;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:60px;
    box-sizing:border-box;
    flex-direction:column;
    border-radius:12px;
    margin: 30px auto;
    width:90%;
    border:groove rgba(0, 0, 0, 0.366);
}

main{
  background:rgba(0, 0, 0, 0.77);
  width:60%;
  color:white;
  margin: 50px auto;
  padding:30px 10px;
  box-sizing:border-box;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

body{
    background-image:url("img/city.jpg");
    background-size:100% 100%;
}

.descricao button{
    background:#484F6E;
    width:80%;
    padding:20px;
    color:white;
    border-radius:15px;
    border:none;
    font-size:large;
}

.descricao button:hover{
    background:rgb(0, 0, 163);
    color:white;
}

header img{
    width:70px; 
}



.item{
    background:#303030;
    color:white;
    margin:30px;
    box-sizing:border-box;
    width:100%;
    height:50px;
    border-radius:15px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.item h6:first-child{
  margin-right:10px;
}



.funcao{
    background:#303030;
    color:white;
    width:100%;
    padding:10px;
    border-radius:15px;
    flex-wrap:wrap;
    display:flex;
    flex-flow:column wrap;
    text-align:center;
    align-items:center;
    justify-content:center;
}

.requisitos{
    background:#303030;
    color:white;
    margin:30px;
    box-sizing:border-box;
    width:100%;
    padding:10px;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}


@media screen and (max-width:768px){
    main{
        width:93%;
        padding:30px 10px 10px 10px;
    }

    body{
        background-size:100% 100%;
    }

    .logo{
        margin-top:13px;
    }

    .descricao{
        width:99%;
    }

    .logo{
        width:60%;
    }

    .item{
        width:130%;
        height:60px;
    }

    .funcao{
        width:130%;
    }

    .requisitos{
        width:130%;
    }

    footer{
        display:flex;
        flex-direction:column;
        text-align:center;
    }

    footer h6:first-child{
        margin:0;
    }

    .descricao button{
        width:100%;
    }
}